<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.amphobia.running_task.mapper.OrderMapper">
    <!--发布订单-->
    <insert id="addOrder" parameterType="cn.amphobia.running_task.bean.Orders">
        INSERT INTO orders
        (orderId,goodName,goodLocation,createTime,endTime,endAddress,money,telephone,lastNumber,goodNumber,username,userTelephone,other)
        values
        (#{orderId},#{goodName},#{goodLocation},#{createTime},#{endTime},#{endAddress},#{money},#{telephone},#{lastNumber},#{goodNumber},#{username},#{userTelephone},#{other})
    </insert>
    <!--取消订单-->
    <update id="removeOrder" >
        UPDATE orders SET states = '订单取消' WHERE orderId = #{orderId} AND states = '未接单'
    </update>

    <!-- //接单-->
    <update id="updateOrder" >
        UPDATE orders SET states = '正在取件',runName=#{runName},runTelephone=#{runTelephone} WHERE orderId = #{orderId}
    </update>

    <!-- 完成订单-->
    <update id="overOrder" >
        UPDATE  orders  SET states = '订单完成' WHERE  orderId = #{orderId} AND states='正在取件' ;
    </update>

    <!--//查询全部订单  List<Orders> getOrdersList();-->
    <select id="getOrdersList" parameterType="map" resultType="cn.amphobia.running_task.bean.Orders">

        select * from orders where states='未接单' order by createTime desc limit #{currIndex},#{pageSize}

    </select>

    <!--查询我发布的订单-->
    <select id="getMyOrdersList" resultType="cn.amphobia.running_task.bean.Orders">
        select * from orders where userTelephone = #{userTelephone} order by createTime desc
    </select>
    <!--查询我跑腿的订单-->
    <select id="getMyRunOrdersList" resultType="cn.amphobia.running_task.bean.Orders">
        select * from orders where runTelephone = #{runTelephone} order by createTime desc
    </select>
<!--//配合接单用-->
    <select id="getOrders" resultType="cn.amphobia.running_task.bean.Orders">
        select * from orders where orderId =#{orderId}
    </select>

    <!--获取赏金-->
    <select id="getMoney" resultType="double">
        select money from orders where orderId =#{orderId}
    </select>

    <!--获取用户余额-->
    <select id="getUmoney" resultType="double">
        select money from users where telephone = #{userTelephone}
    </select>

    <!--获取跑腿用户余额-->
    <select id="getRumoney" resultType="double">
        select money from users where telephone = #{runTelephone}
    </select>
    <!--跑腿addMoney-->
    <update id="addMoney">
        update users set money=#{rmoney} where telephone=#{runTelephone}
    </update>

    <!--用户subMoney-->
    <update id="subMoney">
        update users set money=#{umoney} where telephone=#{userTelephone}
    </update>



</mapper>