<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="cn.amphobia.running_task.mapper.UserMapper">

    <!--根据电话查询单个用户-->
    <select id="getUser" resultType="cn.amphobia.running_task.bean.User">
      SELECT * FROM users WHERE telephone = #{telephone}
    </select>

    <!--查询全部数据-->
    <select id="getUserList" resultType="cn.amphobia.running_task.bean.User">
        SELECT * FROM users
    </select>

    <!--添加用户-->
    <insert id="addUser" parameterType="cn.amphobia.running_task.bean.User">
        INSERT INTO users
        (id,username,password,telephone,create_time)
        values
        (#{id},#{username},#{password},#{telephone},#{create_time})
    </insert>

    <!--修改密码-->
    <update id="updatePassword" parameterType="cn.amphobia.running_task.bean.User">
        UPDATE users
        SET
        password = #{password}
        WHERE
        telephone = #{telephone}
    </update>

    <!--返回用户金额-->
    <select id="getUserMoney" resultType="cn.amphobia.running_task.bean.User">
        SELECT money,status FROM users WHERE telephone = #{telephone}
    </select>

    <!--充值金额-->
    <update id="addMoney" parameterType="cn.amphobia.running_task.bean.User">
        UPDATE  users
        SET
        money = money + #{money}
        WHERE
        telephone = #{telephone}
    </update>
</mapper>
